In [1]:
import pandas as pd

In [2]:
file_data = pd.read_csv("./Resources/Global Dataset of Inflation.csv", encoding="latin1")

In [3]:
file_data

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2019,2020,2021,2022,Note,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,4.26,1.22,0.74,6.04,Annual average inflation,NaN,NaN,NaN,NaN,NaN
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,...,2.30,5.44,5.06,NaN,Annual average inflation,NaN,NaN,NaN,NaN,NaN
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,...,17.08,21.02,23.85,21.35,Annual average inflation,NaN,NaN,NaN,NaN,NaN
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.41,1.62,2.04,6.73,Annual average inflation,NaN,NaN,NaN,NaN,NaN
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,...,-1.93,-2.08,0.18,5.22,Annual average inflation,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,VEN,299.0,"Venezuela, RB",Inflation,Producer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN
779,VNM,582.0,Vietnam,Inflation,Producer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN
780,XKX,967.0,Kosovo,Inflation,Producer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.93,-0.58,4.92,NaN,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN
781,ZAF,199.0,South Africa,Inflation,Producer Price Inflation,NaN,5.00,6.35,12.44,18.58,...,4.62,2.49,7.12,14.36,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN
782,ZMB,754.0,Zambia,Inflation,Producer Price Inflation,14.29,0.00,4.17,12.00,10.71,...,NaN,NaN,NaN,NaN,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN

In [4]:
file_data = file_data.loc[file_data["Series Name"] == "Headline Consumer Price Inflation"]
file_data

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2019,2020,2021,2022,Note,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,4.26,1.22,0.74,6.04,Annual average inflation,NaN,NaN,NaN,NaN,NaN
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,...,2.30,5.44,5.06,NaN,Annual average inflation,NaN,NaN,NaN,NaN,NaN
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,...,17.08,21.02,23.85,21.35,Annual average inflation,NaN,NaN,NaN,NaN,NaN
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.41,1.62,2.04,6.73,Annual average inflation,NaN,NaN,NaN,NaN,NaN
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,...,-1.93,-2.08,0.18,5.22,Annual average inflation,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,NCL,687.0,New Caledonia,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.25,-0.53,0.62,NaN,Additional countries from the previous update,NaN,NaN,NaN,NaN,NaN
199,NIU,570.0,Niue,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Additional countries from the previous update,NaN,NaN,NaN,NaN,NaN
200,SHN,654.0,Saint Helena,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,3.30,1.10,1.30,NaN,Additional countries from the previous update,NaN,NaN,NaN,NaN,NaN
201,TLS,537.0,Timor-Leste,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.96,NaN,NaN,NaN,Additional countries from the previous update,NaN,NaN,NaN,NaN,NaN
202,TCA,796.0,Turks and Caicos Islands,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,2.20,2.30,NaN,NaN,Additional countries from the previous update,NaN,NaN,NaN,NaN,NaN

In [5]:
file_data = file_data.rename(columns = {"Country Code": "country_code", "Country" : "country", "Series Name" : "inflation_type","2005":"year_2005","2006":"year_2006","2007":"year_2007","2008":"year_2008","2009":"year_2009","2010":"year_2010","2011":"year_2011","2012":"year_2012","2013":"year_2013","2014":"year_2014","2015":"year_2015","2016":"year_2016","2017":"year_2017","2018":"year_2018","2019":"year_2019","2020":"year_2020","2021":"year_2021","2022":"year_2022" })
file_data

,country_code,IMF Country Code,country,Indicator Type,inflation_type,1970,1971,1972,1973,1974,...,year_2019,year_2020,year_2021,year_2022,Note,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,4.26,1.22,0.74,6.04,Annual average inflation,NaN,NaN,NaN,NaN,NaN
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,...,2.30,5.44,5.06,NaN,Annual average inflation,NaN,NaN,NaN,NaN,NaN
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,...,17.08,21.02,23.85,21.35,Annual average inflation,NaN,NaN,NaN,NaN,NaN
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.41,1.62,2.04,6.73,Annual average inflation,NaN,NaN,NaN,NaN,NaN
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,...,-1.93,-2.08,0.18,5.22,Annual average inflation,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,NCL,687.0,New Caledonia,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.25,-0.53,0.62,NaN,Additional countries from the previous update,NaN,NaN,NaN,NaN,NaN
199,NIU,570.0,Niue,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Additional countries from the previous update,NaN,NaN,NaN,NaN,NaN
200,SHN,654.0,Saint Helena,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,3.30,1.10,1.30,NaN,Additional countries from the previous update,NaN,NaN,NaN,NaN,NaN
201,TLS,537.0,Timor-Leste,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,0.96,NaN,NaN,NaN,Additional countries from the previous update,NaN,NaN,NaN,NaN,NaN
202,TCA,796.0,Turks and Caicos Islands,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,2.20,2.30,NaN,NaN,Additional countries from the previous update,NaN,NaN,NaN,NaN,NaN

In [6]:
file_data = file_data[["country_code","country", "inflation_type", "year_2005","year_2006","year_2007","year_2008","year_2009","year_2010","year_2011","year_2012","year_2013","year_2014","year_2015","year_2016","year_2017","year_2018","year_2019","year_2020","year_2021","year_2022"]]
file_data

,country_code,country,inflation_type,year_2005,year_2006,year_2007,year_2008,year_2009,year_2010,year_2011,...,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022
0,ABW,Aruba,Headline Consumer Price Inflation,3.40,3.61,5.39,8.96,-2.14,2.08,4.32,...,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04
1,AFG,Afghanistan,Headline Consumer Price Inflation,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,...,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN
2,AGO,Angola,Headline Consumer Price Inflation,22.96,13.31,12.25,12.47,13.72,14.48,13.48,...,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35
3,ALB,Albania,Headline Consumer Price Inflation,2.36,2.41,2.91,3.41,2.29,3.57,3.41,...,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73
4,ARE,United Arab Emirates,Headline Consumer Price Inflation,6.20,9.28,11.13,12.27,1.57,0.88,0.88,...,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,NCL,New Caledonia,Headline Consumer Price Inflation,1.23,2.95,0.98,2.95,0.93,2.70,2.43,...,1.28,0.18,0.57,0.58,1.38,1.33,0.25,-0.53,0.62,NaN
199,NIU,Niue,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,SHN,Saint Helena,Headline Consumer Price Inflation,2.90,4.30,4.60,8.00,8.00,4.90,6.20,...,1.70,2.10,1.90,2.60,5.10,3.80,3.30,1.10,1.30,NaN
201,TLS,Timor-Leste,Headline Consumer Price Inflation,1.11,3.94,10.30,9.06,0.67,6.77,13.50,...,10.99,0.85,0.65,-1.47,0.52,2.29,0.96,NaN,NaN,NaN
202,TCA,Turks and Caicos Islands,Headline Consumer Price Inflation,3.00,3.50,3.70,3.90,4.10,3.20,5.20,...,2.50,2.30,2.20,2.00,2.10,2.10,2.20,2.30,NaN,NaN

In [7]:
file_data = file_data.dropna()
file_data

,country_code,country,inflation_type,year_2005,year_2006,year_2007,year_2008,year_2009,year_2010,year_2011,...,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020,year_2021,year_2022
0,ABW,Aruba,Headline Consumer Price Inflation,3.40,3.61,5.39,8.96,-2.14,2.08,4.32,...,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04
2,AGO,Angola,Headline Consumer Price Inflation,22.96,13.31,12.25,12.47,13.72,14.48,13.48,...,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35
3,ALB,Albania,Headline Consumer Price Inflation,2.36,2.41,2.91,3.41,2.29,3.57,3.41,...,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73
4,ARE,United Arab Emirates,Headline Consumer Price Inflation,6.20,9.28,11.13,12.27,1.57,0.88,0.88,...,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22
5,ARG,Argentina,Headline Consumer Price Inflation,9.64,10.90,8.83,8.59,6.27,10.46,9.77,...,10.62,38.08,26.54,39.40,25.68,34.28,53.55,42.02,48.41,72.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,WSM,Samoa,Headline Consumer Price Inflation,7.82,3.23,4.48,6.27,14.64,-0.20,2.88,...,-0.21,-1.24,1.92,0.13,1.30,4.20,2.19,-1.57,-3.01,8.75
189,YEM,"Yemen, Rep.",Headline Consumer Price Inflation,9.87,10.85,7.91,18.98,3.67,11.17,19.54,...,10.97,8.10,39.40,5.00,30.40,27.60,10.00,26.18,45.70,43.85
190,ZAF,South Africa,Headline Consumer Price Inflation,2.06,3.24,6.18,10.06,7.26,4.06,5.02,...,5.78,6.14,4.51,6.59,5.27,4.50,4.13,3.22,4.61,7.00
191,ZMB,Zambia,Headline Consumer Price Inflation,18.30,9.06,10.64,12.44,13.38,8.50,6.44,...,6.99,7.82,10.11,17.86,6.58,7.49,9.80,15.73,22.02,10.99
192,ZWE,Zimbabwe,Headline Consumer Price Inflation,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,...,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.94

In [8]:
file_data.to_csv("./Output/Global Dataset of Inflation.csv")

In [9]:
from sqlalchemy import create_engine
from config import username, password, hostname, port, db

In [10]:
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{hostname}:{port}/{db}')

In [11]:
file_data.to_sql('inflation_db', con=engine, if_exists='replace', index=False)

188